.client {
@include section (94px, 94px);

    &__list {
     @include gap (flex, 30px);
    }

     &__item {
        width: 170px;
        height: 92px;
    }
    
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border: 1px solid #afb1b8;
        border-radius: 4%;
        color: #afb1b8;
    
        transition: color $transition, border-color $transition;
        }

   &__icon {
       fill: currentColor;
   }

   &__link:hover,
   &__link:focus {
       color: $accent-color;
       border-color: $accent-color;
   }

}



